<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lisa.duterte.coursework_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="   "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Setting"></activity>
        <activity android:name=".ContactChoice" />
        <activity android:name=".NameChoiceActivity" />
        <activity android:name=".LocationChoice" />
        <activity android:name=".Add_Contact" />
        <activity android:name=".FoodChoice" />
        <activity android:name=".Create_Activity_Adapter" />
        <activity android:name=".Welcome" />
        <activity android:name=".DrinkAdapter" />
        <activity android:name=".DrinkChoice" />
        <activity android:name=".Create_Activity" />
        <activity android:name=".ViewPagerAdapter" />
        <activity android:name=".Log_In" />
        <activity android:name=".Sign_Up" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>